<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Read All</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="text-center">Behold: Users!!!</h1>
    <h2 class="text-center">**queue the obnoxious intro trumpets**</h2>
    <table
      class="table table-dark table-hover table-striped mx-auto"
      style="color: peachpuff"
    >
      <thead class="table-primary">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Creation Date</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.created_at}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="/user/new">
      <button
        type="submit"
        class="btn btn-primary"
        style="margin-top: 5px; background-color: goldenrod"
      >
        New User
      </button>
    </form>
  </body>
</html>
